body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}
.button-style{
  position: absolute;
  z-index: 0;
  text-align: left;
  width:10%;
  height:5%;
  
  
  
}
.button-style button{
  background-color: #555;
  color: white;
  border: none;
  width:fit-content;
  height:fit-content;

}
.button-style button:hover{
  background-color: #777;
}
