.img-position {
    
    z-index: 0;
    position: relative; /* Establish a positioning context */
    max-width: 2%; /* Ensure the parent container spans the full width */
    max-height: 2%;
    
    transform: translate(20%,30%); /* Ensure the parent container spans the full height */
}
.img-position img{
    width:fit-content;
    position: absolute;
    top:50%;
    left:1%;
    width:auto;
    height:auto;
}